{%extends 'main.html'%} {%block containt%} {%include 'navigation.html'%}<br><br>


<div class="mx-auto" style="width: 200px;">


    <div class="card" style="width: 20rem; background-color:skyblue">
        <div class="card-body">
            <h5 class="card-title">Join Us!</h5>


            <form method="POST">
                {%load crispy_forms_tags%} {%csrf_token%} {{form|crispy}}<br>
                <button type="submit " class="btn btn-primary">SignUp</button>
                <a href="{%url 'login'%}">Already Have An Account.?</a>

            </form>


        </div>
    </div>
</div>

{%endblock%}